<div class="container">
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>Login</h2>          
        </div>
        <%= form_tag user_sign_in_path do %>

        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= text_field_tag :email, params[:email], :placeholder => 'email', :class=> "form-control" %> 
        </div>
        <br>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= password_field_tag :password, params[:password], :placeholder => 'password', :class=> "form-control" %>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-0">
                <%= submit_tag "Login", :class => "button"%>
            </div>
        </div>

        <% end %>
    </div>
</div>